<!DOCTYPE html>
<html lang="en">
<% include ../common.ejs %>
<script>
$(document).ready(function(){
  //가구 구성원 정보
  $.ajax({
    url: "/members/getMemberGbnByAjax",
    success: function(result){
      var oinfo = result.oinfo;
      var str="";
      for(var i=0; i < oinfo.length; i++) {
        str += "<option value='"+oinfo[i].CODE+"'>"+oinfo[i].DESCRIPTION+"("+oinfo[i].CODE_NAME+")</option>";
      }
      $("#home_mem_gbn").html(str);
    }
  });
  //나이대 정보
  $.ajax({
    url: "/members/getAgeByAjax",
    success: function(result){
      var oinfo = result.oinfo;
      var str="";
      for(var i=0; i < oinfo.length; i++) {
        str += "<option value='"+oinfo[i].CODE+"'>"+oinfo[i].DESCRIPTION+"("+oinfo[i].CODE_NAME+")</option>";
      }
      $("#age").html(str);
    }
  });

  $.ajax({
    url: "/members/getRegionByAjax",
    success: function(result){
      //alert(JSON.stringify(result));
      var rinfo = result.reg1Info;
      var str;
      for(var i=0; i < rinfo.length; i++) {
        str += "<option value='"+rinfo[i].CODE+"'>"+rinfo[i].DESCRIPTION+"("+rinfo[i].CODE_NAME+")</option>";
      }
      $("#region1").html(str);
    }
  });

  $.ajax({
    url: "/members/getRegion2ByAjax",
    data: {region1: 'SL'},
    success: function(result){
      //alert(JSON.stringify(result));
      var rinfo = result.reg2Info;
      var str;
      for(var i=0; i < rinfo.length; i++) {
        str += "<option value='"+rinfo[i].CODE+"'>"+rinfo[i].DESCRIPTION+"("+rinfo[i].CODE_NAME+")</option>";
      }
      $("#region2").html(str);
    }
  });

  $("#region1").change(function(){
    var aa = $("#region1 option:selected").val();
    $.ajax({
      url: "/members/getRegion2ByAjax",
      //data: {region1: $('#region option:selected').val()},
      data: {region1: aa},
      success: function(result){
        var rinfo = result.reg2Info;
        var str;
        for(var i=0; i < rinfo.length; i++) {
          str += "<option value='"+rinfo[i].CODE+"'>"+rinfo[i].DESCRIPTION+"("+rinfo[i].CODE_NAME+")</option>";
        }
        $("#region2").html(str);
      }
    });
  });

  $("#validateID").click(function(){
    $.ajax({
      url: "/members/validateIdByAjax",
      data: {user_id: $('#username').val()},
      success: function(result){
        if (result) {
          alert('User id is Valid');
          $('#check_valid').val("Y");
        }else {
          alert('User id is NOT Valid');
          $('#check_valid').val("N");
        }
      }
    });
  });
});

function validation() {

  if($('#username').val() == '')  {
    alert('User Id is empty.');
    return false;
  }

  if($('#password').val() == '')  {
    alert('password is empty.');
    return false;
  }

  if($('#username').val() == '')  {
    alert('User Id is empty.');
    return false;
  }

  if($('#password').val() == '')  {
    alert('password is empty.');
    return false;
  }

  if($('#sex').val() == '')  {
    alert('Sex is empty.');
    return false;
  }

  if($('#age').val() == '')  {
    alert('Age is empty.');
    return false;
  }

  if($('#home_mem_gbn').val() == '')  {
    alert('Member of Home is empty.');
    return false;
  }

  if($('#check_valid').val() != 'Y')  {
    alert('User id`s validation is not executed. please click Validate button');
    return false;
  }
  return true;
}


</script>
<body>
<div class="container dotted">
  <h2 class="underline">Register Member</h2>
  <br>
  <form class="form-horizontal" method="post">
    <input type="hidden" name="check_valid" id="check_valid" value="N">
    <div class="form-group">
      <label class="control-label col-sm-3" for="username">User ID : </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter your ID or email-address">
        <button id="validateID" type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-search"></span> Validate</button>
      </div>

    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="password">Password:</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="displayName">User Name : </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="displayName" id="displayName" placeholder="Enter your full name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="email">Region : </label>
      <div class="dropdown col-sm-2">
        <select id="region1" name="region1" style="width:150px"></select>
	    </div>
	    <div class="dropdown col-sm-2">
		    <select id="region2" name="region2" style="width:150px"></select>
		  </div>
		  <div class="dropdown col-sm-4"></div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="email">Sex / Age : </label>
      <div class="dropdown col-sm-2">
        <select id="sex" name="sex" style="width:100px">
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
		  </div>
		  <div class="dropdown col-sm-2" >
        <select id="age" name="age" style="width:150px"></select>
		  </div>
		  <div class="col-sm-5"></div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-3" for="sex">Member of Home : </label>
      <div class="dropdown col-sm-2">
        <select id="home_mem_gbn" name="home_mem_gbn" style="width:150px"></select>
		  </div>
		  <div class="col-sm-7"></div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-11">
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
        <button type="submit" class="btn btn-info btn-md" onclick="return validation();"><span class="glyphicon glyphicon-ok"></span> Submit</button>
      </div>
    </div>

  </form>
</div>

</body>
</html>
