<!DOCTYPE html>
<html lang="en">
<% include ../common.ejs %>
<script>
$(document).ready(function(){
  $.ajax({
    url: "/members/getRegion2ByAjax",
    data: {region1: $('#region1 option:selected').val()},
    success: function(result){
      //alert(JSON.stringify(result));
      var rinfo = result.reg2Info;
      var str;
      for(var i=0; i < rinfo.length; i++) {
        str += "<option value='"+rinfo[i].CODE+"'>"+rinfo[i].DESCRIPTION+"("+rinfo[i].CODE_NAME+")</option>";
        //alert(rinfo[i].CODE+" "+rinfo[i].CODE_NAME);
      }
      $("#region2").html(str);
    }
  });

  $("#region1").change(function(){
    $.ajax({
      url: "/members/getRegion2ByAjax",
      data: {region1: $('#region1 option:selected').val()},
      success: function(result){
        //alert(JSON.stringify(result));
        var rinfo = result.reg2Info;
        var str;
        for(var i=0; i < rinfo.length; i++) {
          str += "<option value='"+rinfo[i].CODE+"'>"+rinfo[i].DESCRIPTION+"("+rinfo[i].CODE_NAME+")</option>";
          //alert(rinfo[i].CODE+" "+rinfo[i].CODE_NAME);
        }
        $("#region2").html(str);
      }
    });
  });

  $("#validateID").click(function(){
    $.ajax({
      url: "/members/getRegion2ByAjax",
      data: {region1: $('#region1 option:selected').val()},
      success: function(result){
        //alert(JSON.stringify(result));
        var rinfo = result.reg2Info;
        var str;
        for(var i=0; i < rinfo.length; i++) {
          str += "<option value='"+rinfo[i].CODE+"'>"+rinfo[i].DESCRIPTION+"("+rinfo[i].CODE_NAME+")</option>";
          //alert(rinfo[i].CODE+" "+rinfo[i].CODE_NAME);
        }
        $("#region2").html(str);
      },
      error: function(err) {

      }

    });
  });

});

function validation() {
  return true;
}

function validateID() {

}

</script>
<body>
<div class="container dotted">
  <h2 class="underline">Register Member</h2>
  <br>
  <form class="form-horizontal" method="post">
    <input type="hidden" name="check_valid" id="check_valid" value="N">
    <div class="form-group">
      <label class="control-label col-sm-3" for="username">User ID : </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter your ID or email-address">
        <button id="validateID" type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-search"></span> Validate</button>
      </div>

    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="password">Password:</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="displayName">User Name : </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="displayName" id="displayName" placeholder="Enter your full name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="email">Region : </label>
      <div id="region1" class="dropdown col-sm-2">
        <select style="width:150px">
          <option value="SL">Seoul</option>
          <option value="GG">GyoungGi</option>
          <option value="GW">GangWon</option>
        </select>
	    </div>
	    <div class="dropdown col-sm-2">
		    <select id="region2" style="width:150px">
          <option value="">서울</option>
          <option value="">경기</option>
          <option value="">강원</option>
        </select>
		  </div>
		  <div class="dropdown col-sm-4"></div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="email">Sex / Age : </label>
      <div class="dropdown col-sm-2">
        <select id="sex" style="width:150px">
          <option value="" selected>Select Sex</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
		  </div>
		  <div class="dropdown col-sm-2" >
        <select id="age" style="width:150px">
          <option value="" selected>Select Age</option>
          <option value="0">0 to 9</option>
          <option value="10">10 to 19</option>
          <option value="20">20 to 29</option>
          <option value="30">30 to 39</option>
          <option value="40">40 to 49</option>
          <option value="50">50 to 59</option>
          <option value="60">over 60</option>
        </select>
		    <!--<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">select Age&nbsp;&nbsp;&nbsp;<span class="caret"></span></button>
		    <ul class="dropdown-menu">
		      <li><a href="#">0 to 9</a></li>
		      <li><a href="#">10 to 19</a></li>
		      <li><a href="#">20 to 29</a></li>
		      <li><a href="#">30 to 39</a></li>
		      <li><a href="#">40 to 49</a></li>
		      <li><a href="#">50 to 59</a></li>
		      <li><a href="#">over 60</a></li>-->
		    </ul>
		  </div>
		  <div class="col-sm-5"></div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-11">
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
        <button type="submit" class="btn btn-info btn-md" onclick="return validation();"><span class="glyphicon glyphicon-ok"></span> Submit</button>
      </div>
    </div>

  </form>
</div>

</body>
</html>
