<!DOCTYPE html>
<html lang="en">
<% include common.ejs %>
<script src="../Scripts/ApEpManagement.js"></script>
<body>
<% include header.ejs %>
<!-- 본문 시작 -->
<div class="container" style="width: 90%;">
  <div class="row">
    <div class="col-lg-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="이름 검색" id="txtSearchString" id="txtSearchString">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" id="btnSearch" name ="btnSearch">Go!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->

<div class="row">
  <div class="col-lg-3">
    <table id="TbMemberList"  class="table table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th> ID </th>
          <th>이름</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <nav aria-label="Page navigation">
      <ul class="pagination" id="memListPagenation" name="memListPagenation">
      </ul>
    </nav>
  </div><!-- /.col-lg-6 -->

  <div class="col-lg-6">
    <table id="TbDeviceList"  class="table table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
      <th>ID</th>
      <th>Serial No</th>
      <th> 장비구분 </th>
      <th>AP Serial No</th>
      <th> 기기종류 </th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
    </table>
    <nav aria-label="Page navigation">
      <ul class="pagination" id="DevListPagenation" name="DevListPagenation">
      </ul>
    </nav>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Miracom InC.</p>
</footer>

</body>
</html>
