<<<<<<< HEAD
<html>
  <head>
    <% include ./header.ejs %>
  </head>
=======
<!DOCTYPE html>
<html lang="en">
<% include ./header.ejs %>
>>>>>>> 815a1994b881b84325e123e295609706a6751e5e
  <body>
    <% include ./body.ejs %>
  </body>
</html>
