<div id="infoModal_01" name="infoModal_01" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h3 class="modal-title">누진 정보</h3>
         </div>
         <div class="modal-body">
           <div class="container-fluid" style="width: 100%;">
             <div class="row">
               <div class="col-sm-12">

                 		<h4><b>주택용 전력 저압 </b></h4>

                 		<div>
                 			<ul>
                 				<li>주거용 고객 아파트 고객 포함 , 계약전력 <strong class="pointRe">3kW 이하</strong>의 고객</li>
                 				<li>독신자 합숙소 기숙사 포함  또는 집단주거용 사회복지시설로서 고객이 주택용 전력의 적용을 희망하는 경우 적용</li>
                 				<li>주거용 오피스텔 고객 주거용 오피스텔이란? 주택은 아니지만 실제 주거용도로 이용되는 오피스텔 </li>
                 			</ul>
                 			<div style="text-align:right">적용일자 : 2013년 11월 21일</div>
                 			<div class="wrap_table">
                 				<table class="table" summary="주택용 전력(저압) 전력량에 기본요금(원/호)및 전력량 요금(원/kWh) 안내 입니다">
                 					<colgroup>
                 						<col width="30%" />
                 						<col width="20%" />
                 						<col width="30%" />
                 						<col width="20%" />
                 					</colgroup>
                 					<thead>
                 						<tr>
                 							<th scope="colgroup" colspan="2"><span>기본요금 원/호 </span></th>
                 							<th scope="colgroup" colspan="2"><span>전력량 요금 원/kWh </span></th>
                 						</tr>
                 					</thead>
                 					<tbody>
                 						<tr>
                 							<td>100kWh 이하 사용</td>
                 							<td>410</td>
                 							<td>처음 100kWh 까지</td>
                 							<td>60.7</td>
                 						</tr>
                 						<tr>
                 							<td>101 ~ 200kWh 사용</td>
                 							<td>910</td>
                 							<td>다음 100kWh 까지</td>
                 							<td>125.9</td>
                 						</tr>
                 						<tr>
                 							<td>201 ~ 300kWh 사용</td>
                 							<td>1,600</td>
                 							<td>다음 100kWh 까지</td>
                 							<td>187.9</td>
                 						</tr>
                 						<tr>
                 							<td>301 ~ 400kWh 사용</td>
                 							<td>3,850</td>
                 							<td>다음 100kWh 까지</td>
                 							<td>280.6</td>
                 						</tr>
                 						<tr>
                 							<td>401 ~ 500kWh 사용</td>
                 							<td>7,300</td>
                 							<td>다음 100kWh 까지</td>
                 							<td>417.7</td>
                 						</tr>
                 						<tr>
                 							<td>500kWh 초과 사용</td>
                 							<td>12,940</td>
                 							<td>500kWh 초과</td>
                 							<td>709.5</td>
                 						</tr>
                 					</tbody>
                 				</table>
                 			</div> <!-- //wrap_table -->
                 			<div class="comment">
                 				 <ul class="ico_notice">
                 					<li>월 최저요금 : 1,000원 적용일자 : 2009년 9월 1일 </li>
                 					<li>비주거용 주택용전력 고객 : 1단계 사용량 100kWh이하 에 대하여 주택용 2단계 요금 적용</li>
                 				</ul>
                 			</div>
                 		</div><!-- //scbox -->












               </div>
             </div>
           </div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
         </div>
       </div>
  </div>
</div>
